
body {
  margin: 0;
  padding: 0;
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/046/386/166/small/abstract-blue-and-pink-glowing-lines-curved-overlapping-background-template-premium-award-design-vector.jpg');
background-size: cover;
background-position: center;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App {
  text-align: center;
  background-color: gray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
